.oitavo-design { grid-column: 18 / 35; grid-row: 9 / 13; }

.oitavo-design {
    display: flex;
    background-color: hsl(256, 67%, 59%);
    align-items: center;
    padding: 1.2rem;
    border-radius: 0.5rem;
}

.oitavo-design-img {
    max-width: 14rem;
}

.oitavo-design-item {
    color: #ffffff;
    font-size: 30px;
    line-height: 2rem;
    font-weight: 500;
}
